#root {
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}

#main {
    align-self: center;
}