#root,
.PageContainer,
main {
    display: flex !important;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

main,
.spacer {
    flex-grow: 1;
}

main {
    gap: 15dvh;
}

.PageContainer {
    min-height: 60dvh;
}

#home {
    min-height: calc(100dvh - 48px);
    margin-bottom: -15dvh;
}

#resume {
    min-height: calc(100dvh - 96px);
}

.PageContainer,
.ItemContainer {
    scroll-margin-top: 60px;
}

header.transparent {
    background-color: transparent;
    transition: all 0.3s ease-out 0s;
}

header.blurred {
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-out 0s;
}

.navlink {
    margin-left: 15px !important;
    margin-top: 5px !important;
}

.navlink-github {
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ResumeViewer {
    z-index: -1;
}