#root,
.PageContainer,
main {
    display: flex !important;
    text-align: center;
    flex-flow: column;
    align-items: center;
}

.PageContainer {
    scroll-margin-top: 60px;
}

main,
.spacer {
    flex-grow: 1;
    gap: 50dvh;
}

header.transparent {
    background-color: transparent;
    transition: all 0.3s ease-out 0s;
}

header.blurred {
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-out 0s;
}

.navlink {
    margin-left: 15px !important;
    margin-top: 5px !important;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}