html {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #f5f5f533;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

::-webkit-scrollbar-track-piece:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track-piece:active {
  cursor: wait;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background-color: #212121;
  }

  ::-webkit-scrollbar-track {
    background-color: #21212133;
  }
}